<!DOCTYPE html>
<html>
<head>
  <title>Tin Save Api</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="form-group">
     <label>Tin Number</label>
     <input type="text" id="tin">
     <button type="button" id="checkBtn">check</button>
    </div>
   <div id="result">
   </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $('#checkBtn').on('click', function() {
      $.ajax({
        method: 'GET',
        url: './check/' + $('#tin').val(),
        success: function(data) {
          if (data.valid) {
            $('#result').html('<a href="' + data.url + '">Click Here to view details</a>');
          } else {
            $('#result').text("Invalid TIN number");
          }
        }
      });
    });
  </script>
</body>
</html>
